* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background-image {
	background-image: url('gen/background.png');
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

footer {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	font-family: 'Helvetica Neue', sans-serif;
}

.footer-content h2 {
	font-size: 24px;
}

.footer-content a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.footer-content p {
	font-size: 16px;
	color: #fff;
	text-align: right;
	position: absolute;
	bottom: 20px;
	right: 20px;
	max-width: 30%;
	line-height: 1.5;
}

.prompt {
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	right: 20px;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px;
	border-radius: 10px;
	font-style: italic;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .prompt {
    top: 70%;
    transform: translateY(-50%);
  }
}

.prompt p {
	font-size: 1.2rem;
	line-height: 1.5;
}